<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cruelgeroi.apphub">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/no_what"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/no_what_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tutorial">

        <activity
            android:name="com.cruelgeroi.apphub.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.cruelgeroi.apphub.activities.DatabaseActivity"
            android:exported="true">
            <intent-filter>
                <action android:name=".DatabaseActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.cruelgeroi.apphub.activities.CreatedActivity"
            android:exported="false" />

        <activity
            android:name="com.cruelgeroi.apphub.activities.RecyclerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name=".RecyclerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.cruelgeroi.apphub.activities.CalculatorActivity"
            android:exported="true">
            <intent-filter>
                <action android:name=".CalculatorActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.cruelgeroi.apphub.activities.CircleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name=".CircleActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.cruelgeroi.apphub.activities.DrawingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name=".DrawingActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.cruelgeroi.apphub.activities.FragmentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name=".FragmentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.cruelgeroi.apphub.activities.SensorActivity"
            android:exported="true">
            <intent-filter>
                <action android:name=".SensorActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.cruelgeroi.apphub.activities.FileActivity"
            android:exported="true">
            <intent-filter>
                <action android:name=".FileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <provider
            android:name="com.cruelgeroi.apphub.db.NotesProvider"
            android:authorities="com.cruelgeroi.apphub.provider"
            android:exported="false" />
    </application>

</manifest>